<section>
    <app-loading *ngIf="isLoading"></app-loading>
    <app-error *ngIf="isError" [message]="'Pridėti naujo įrašo nepavyko'"></app-error>
    <div class="sectionMainContainer" *ngIf="!isError && !isLoading">
        <div class="sectionName">Informacija apie knygą:</div>
        <div class="bookInfo">
            <input type="text" placeholder="Autorius" [(ngModel)]="author">
            <input type="text" placeholder="Pavadinimas" [(ngModel)]="title">
            <input type="number" placeholder="Išleidimo metai" [(ngModel)]="year">
            <select name="" id="" [(ngModel)]="isReaded">
                <option value="" disabled selected>Ar knyga perskaityta?</option>
                <option value="Taip">Taip</option>
                <option value="Ne">Ne</option>
            </select>
        </div>
        <button class="btn addBookBtn" (click)="addBook()" [disabled]="author == null || title == null || year == null || isReaded == null">Įtraukti knygą</button>
    </div>
</section>