<div class="sectionMainContainer">
    <div class="sectionName">Informacija apie knygą:</div>
    <div class="bookInfo">
        <input type="text" placeholder="Autorius" [(ngModel)]="author">
        <input type="text" placeholder="Pavadinimas" [(ngModel)]="title">
        <input type="number" placeholder="Išleidimo metai" [(ngModel)]="year">
        <select name="" id="" [(ngModel)]="isReaded">
            <option value="yes" disabled selected>Ar knyga perskaityta?</option>
            <option value="yes">Taip</option>
            <option value="no">Ne</option>
        </select>
    </div>
    <button class="btn addBookBtn" (click)="addBook()" [disabled]="author == null || title == null || year == null || isReaded == null">Įtraukti knygą</button>
</div>