.headerContainer {
    width: 100%;
    background-color: #e6e6e685;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerContainer img {
    height: 80px;
    margin: 30px;
}

.navigationLinks  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navigationLinks img {
    cursor: pointer;
}

.navigationLinks a {
    min-width: 300px;
    min-height: 32px;
    text-decoration: none;
    color: #121212;
    font-size: 30px;
}

.navigationLinks a:hover {
    text-decoration: none;
    color: #4b0e0e;
    font-size: 32px;
    transition: ease-in-out;
}
